h1{
    font-family: 'Handlee', cursive;

}

h2{
    font-family: 'Handlee', cursive;

}
h3{
    font-family: 'Handlee', cursive;

}


  .edu{
    font-size: 20px;
  }
.edu1{
    font-size: 20px;
}